In [8]:
# Dependencies
import pandas as pd
from pathlib import Path

In [9]:
# Store filepath in a variable
file = Path("Resources/threatened_species.csv")

In [18]:
# Read our data file with the Pandas library
df = pd.read_csv(file)
df.head() # First 5
# df.tail() # Last 5
# df.sample(5) # Random 5

,Scientific Name,Common Name,Threatened status,Kingdom,Class,Family,Genus,Species,Species Author,Profile,Date extracted
0,Neophoca cinerea,"Australian Sea-lion, Australian Sea Lion",Vulnerable,Animalia,Mammalia,Otariidae,Neophoca,cinerea,"(Peron,1816)",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
1,Mirounga leonina,Southern Elephant Seal,Vulnerable,Animalia,Mammalia,Phocidae,Mirounga,leonina,"(Linnaeus,1758)",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
2,Pseudomys novaehollandiae,"New Holland Mouse, Pookila",Vulnerable,Animalia,Mammalia,Muridae,Pseudomys,novaehollandiae,"(Waterhouse, 1843)",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
3,Balaenoptera borealis,Sei Whale,Vulnerable,Animalia,Mammalia,Balaenopteridae,Balaenoptera,borealis,"Lesson, 1828",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
4,Balaenoptera musculus,Blue Whale,Endangered,Animalia,Mammalia,Balaenopteridae,Balaenoptera,musculus,"(Linnaeus, 1758)",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12

In [22]:
# Set new index to Species
df = df.set_index("Species")

In [23]:
# Get the data contained within the "leonina" row and the "Family" column
df.loc['leonina', 'Family']

'Phocidae'

In [20]:
df.iloc[1,5]

'Phocidae'

In [25]:
# Get the first five rows of data and the columns from "Common Name" to "Threatened status"
# The problem with using "Species" as the index is that the values are not unique so duplicates are returned
# If there are duplicates and loc is being used, Pandas will return an error
df.loc[['cinerea', 'leonina', 'novaehollandiae', 'borealis', 'musculus'], 
       ['Common Name', 'Threatened status' ]]

,Common Name,Threatened status
Species,,
cinerea,"Australian Sea-lion, Australian Sea Lion",Vulnerable
leonina,Southern Elephant Seal,Vulnerable
novaehollandiae,"New Holland Mouse, Pookila",Vulnerable
novaehollandiae,"Cape Barren Goose (south-western), Recherche C...",Vulnerable
novaehollandiae,Masked Owl (northern),Vulnerable
novaehollandiae,"Tiwi Masked Owl, Tiwi Islands Masked Owl",Endangered
novaehollandiae,"Tasmanian Emu, Emu (Tasmanian)",Extinct
novaehollandiae,Masked Owl (Tasmanian),Vulnerable
borealis,Sei Whale,Vulnerable
musculus,Blue Whale,Endangered

In [26]:
# Using iloc will not find duplicates since a numeric index is always unique
df.iloc[0:5,
       1:3]

                                              Common Name Threatened status
Species
cinerea          Australian Sea-lion, Australian Sea Lion        Vulnerable
leonina                            Southern Elephant Seal        Vulnerable
novaehollandiae                New Holland Mouse, Pookila        Vulnerable
borealis                                        Sei Whale        Vulnerable
musculus                                       Blue Whale        Endangered

In [30]:
# Using loc to select all rows for `Common Name` and `Threatened Status`
df.loc[:, ['Common Name', 'Threatened status' ]]

,Common Name,Threatened status
Species,,
cinerea,"Australian Sea-lion, Australian Sea Lion",Vulnerable
leonina,Southern Elephant Seal,Vulnerable
novaehollandiae,"New Holland Mouse, Pookila",Vulnerable
borealis,Sei Whale,Vulnerable
musculus,Blue Whale,Endangered
...,...,...
vigens,Ammonite Pinwheel Snail,Critically Endangered
palfreymani,"Pedra Branca Skink, Pedra Branca Cool-skink, ...",Vulnerable
cucullatus,"Hooded Plover (eastern), Eastern Hooded Plover",Vulnerable
lateralis,"Wiliji, West Kimberley Rock-wallaby",Vulnerable
anophthalmus,Blind Velvet Worm,Endangered

In [50]:
# Not using loc to select specific column
df[['Common Name', 'Threatened status']].head(3)

                                              Common Name Threatened status
Species
cinerea          Australian Sea-lion, Australian Sea Lion        Vulnerable
leonina                            Southern Elephant Seal        Vulnerable
novaehollandiae                New Holland Mouse, Pookila        Vulnerable

In [51]:
# Using iloc to select all rows for the second and third columns.
df.iloc[:, 1:3].head(3)

                                              Common Name Threatened status
Species
cinerea          Australian Sea-lion, Australian Sea Lion        Vulnerable
leonina                            Southern Elephant Seal        Vulnerable
novaehollandiae                New Holland Mouse, Pookila        Vulnerable

In [52]:
# The following logic test/conditional statement returns a series of boolean values
df['Threatened status'] == 'Vulnerable'

Species
cinerea             True
leonina             True
novaehollandiae     True
borealis            True
musculus           False
                   ...
vigens             False
palfreymani         True
cucullatus          True
lateralis           True
anophthalmus       False
Name: Threatened status, Length: 1896, dtype: bool

In [53]:
# loc will allow for conditional statements to filter rows of data
# using loc on the logic test above only returns rows where the result is True
df.loc[df['Threatened status'] == 'Vulnerable']

,Scientific Name,Common Name,Threatened status,Kingdom,Class,Family,Genus,Species Author,Profile,Date extracted
Species,,,,,,,,,,
cinerea,Neophoca cinerea,"Australian Sea-lion, Australian Sea Lion",Vulnerable,Animalia,Mammalia,Otariidae,Neophoca,"(Peron,1816)",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
leonina,Mirounga leonina,Southern Elephant Seal,Vulnerable,Animalia,Mammalia,Phocidae,Mirounga,"(Linnaeus,1758)",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
novaehollandiae,Pseudomys novaehollandiae,"New Holland Mouse, Pookila",Vulnerable,Animalia,Mammalia,Muridae,Pseudomys,"(Waterhouse, 1843)",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
borealis,Balaenoptera borealis,Sei Whale,Vulnerable,Animalia,Mammalia,Balaenopteridae,Balaenoptera,"Lesson, 1828",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
physalus,Balaenoptera physalus,Fin Whale,Vulnerable,Animalia,Mammalia,Balaenopteridae,Balaenoptera,"(Linnaeus, 1758)",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
...,...,...,...,...,...,...,...,...,...,...
exulans,Diomedea exulans,Wandering Albatross,Vulnerable,Animalia,Aves,Diomedeidae,Diomedea,"Linnaeus,1758",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
robustus,Osphranter robustus isabellinus,"Barrow Island Wallaroo, Barrow Island Euro",Vulnerable,Animalia,Mammalia,Macropodidae,Osphranter,-,http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
palfreymani,Carinascincus palfreymani,"Pedra Branca Skink, Pedra Branca Cool-skink, ...",Vulnerable,Animalia,Reptilia,Scincidae,Carinascincus,"(Rawlinson,1974)",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
cucullatus,Thinornis cucullatus cucullatus,"Hooded Plover (eastern), Eastern Hooded Plover",Vulnerable,Animalia,Aves,Charadriidae,Thinornis,"(Vieillot, 1818)",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12
lateralis,Petrogale lateralis kimberleyensis,"Wiliji, West Kimberley Rock-wallaby",Vulnerable,Animalia,Mammalia,Macropodidae,Petrogale,-,http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12

In [55]:
# Print the unique values in a specified column
df['Threatened status'].unique()

array(['Vulnerable', 'Endangered', 'Critically Endangered', 'Extinct',
       'Extinct in the wild', 'Conservation Dependent'], dtype=object)

In [56]:
# iloc will also allow for conditional statements to filter rows of data
# Using iloc on the logic test above only returns rows where the result is True
df[df.iloc[:, 2] == 'Extinct in the wild']

,Scientific Name,Common Name,Threatened status,Kingdom,Class,Family,Genus,Species Author,Profile,Date extracted
Species,,,,,,,,,,
pedderensis,Galaxias pedderensis,Pedder Galaxias,Extinct in the wild,Animalia,Actinopterygii,Galaxiidae,Galaxias,"Frankenberg, 1968",http://www.environment.gov.au/cgi-bin/sprat/pu...,2020-Oct-12

In [59]:
# Multiple conditions can be set to narrow down or widen the filter
df.iloc[(df['Threatened status'] == 'Critically Endangered') &
       (df['Class'] == 'Mammalia') |
       (df['Class'] == 'Amphibia')]

ValueError: iLocation based boolean indexing cannot use an indexable as a mask